<ion-view view-title="Contacts Gallaries">
  <ion-content class="padding">
    <h2>List Of Gallaries</h2>
    <p>
        <table>
<tr>
            
            <td>
    
    <img src="images/g6.jpg" width="150" height="150">
    </td>
    <td>
    <img src="images/g1.jpg" width="150" height="150">
    </td>
<td><img src="images/g2.jpg" width="150" height="150"></td>            </tr>

<tr>
            
            <td><img src="images/g3.jpg" width="150" height="150"></td><td><img src="images/g4.jpg" width="150" height="150"></td><td><img src="images/g7.jpg" width="150" height="150"></td>
    
            </tr>
</table>
        
         </p>
  </ion-content>
</ion-view>
